extends ../layout

block content
    div(class='d-flex flex-row content justify-content-center mx-auto')
        form(class='card w-50 mt-5' method='post' action= '/users/signup')
            div(class='card-header') Inscription
            div(class="card-body")
                div(class="form-group")
                    label(for="username") Username 
                    input(type="text" class='form-control' name='username')
                    label(for="email") Email 
                    input(type="email" class='form-control' name='email')
                    label(for="username") Password 
                    input(type="password" class='form-control' name='password')
                if errors
                    ul(class='my-2') 
                        each error in errors 
                            li(class='text-danger')= error
                div(class='w-100')
                    input(type="submit" value="Signup" class='btn btn-primary ms-auto mt-3 d-block')